body {
    background: url(../../img/background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-family: helvetica, arial, sans-serif;
    height: 100vh;
    color: var(--preto);
}

:root {
    --azulescuro: #4284f3;
    --branco: #ffffff;
    --preto: #000000;
}